<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add connectionString="DATA SOURCE=xe;USER ID=hr;PASSWORD=Pa$$W0rd" name="xe" providerName="Oracle.DataAccess.Client"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
